---
layout: handbook-page-toc
title: Memory Team
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

Build and enhance a highly performant GitLab product portfolio, and establish best practices for performance oriented development.

## Mission

The Memory team is responsible for optimizing GitLab application performance by managing the memory resources required. The team is also responsible for changes affecting the responsiveness of the application.  We will accomplish these goals in two ways. First we will research and resolve reported memory issues to the best of our ability and within our published SLAs.  Additionally, will build tooling to proactively inform developers of the static and dynamic memory consumption of their proposed changes.  You can read more about our approach, in detail, [here](./approach.html).

## Team Members

The following people are permanent members of the Memory Team:

<%-# Hard coding the team makeup for now until team.yml reflects the team structure -%>
<%#= direct_team(manager_role: 'Backend Engineering Manager, Memory') %>
<%-# Hard coding the team makeup for now until team.yml reflects the team structure -%>
<table>
<thead>
<tr>
<th>Person</th>
<th>Role</th>
</tr>
</thead>
<tbody>
<tr>
<td>Craig Gomes</td>
<td><a href="/job-families/engineering/backend-engineer/#engineering-manager">Engineering Manager, Memory & Database</a></td>
</tr>
<tr>
<td>Kamil Trzciński</td>
<td><a href="/job-families/engineering/distinguished-engineer/">Distinguished Engineer, Ops and Enablement</a></td>
</tr>
<tr>
<td>Qingyu Zhao</td>
<td><a href="/job-families/engineering/backend-engineer">Senior Backend Engineer, Memory</a></td>
</tr>
<tr>
<td>Aleksei Lipniagov</td>
<td><a href="/job-families/engineering/backend-engineer">Senior Backend Engineer, Memory</a></td>
</tr>
<tr>
<td>Nikola Milojevic</td>
<td><a href="/job-families/engineering/backend-engineer">Senior Backend Engineer, Memory</a></td>
</tr>
<tr>
<td>Matthias Käppler</td>
<td><a href="/job-families/engineering/backend-engineer">Senior Backend Engineer, Memory</a></td>
</tr>
</tbody>
</table>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%#= stable_counterparts(role_regexp: /[,&] Memory/, direct_manager_role: 'Backend Engineering Manager, Memory & Database') %>
<table>
<thead>
<tr>
<th>Person</th>
<th>Role</th>
</tr>
</thead>
<tbody>
<tr>
<td>Fabian Zimmer</td>
<td><a href="/job-families/product/product-manager">Principal Product Manager, Geo</a></td>
</tr>
</tbody>
</table>
## Meetings
Where we can we follow the GitLab values and communicate asynchronously.  However, there have a few important recurring meetings.  Please reach out to the [#g_memory](https://gitlab.slack.com/messages/CGN8BUCKC) Slack channel if you'd like to be invited.
* Weekly Memory Team meeting - Mondays 6:00 AM PDT (11:00 AM UTC)
* Memory Team Open Office Hours
  * Tuesdays alternating between 6:30 AM PDT (11:30 AM UTC) and 12:00 AM PDT (7:00 AM UTC) to create both APAC and EMEA friendly hours

## Work
We follow the GitLab [engineering workflow](/handbook/engineering/workflow/) guidelines.  To bring an issue to our attention please create an issue in the relevant project, or in the [Memory team project](https://gitlab.com/gitlab-org/memory-team/team-tasks/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=).  Add the `~"group::memory"` label along with any other relevant labels.  If it is an urgent issue, please reach out to the Product Manager or Engineering Manager listed in the [Stable Counterparts](/handbook/engineering/development/enablement/memory/#stable-counterparts) section above.

### Planning
When planning for a milestone, the Memory Team creates a [planning issue](https://gitlab.com/gitlab-org/memory-team/team-tasks/-/blob/master/.gitlab/issue_templates/Planning.md) to discuss the upcoming milestone asynchronously. We outline the major efforts planned for the milestone along with who is working on each effort. Often there are individual issues that are either operational in nature, or don't belong to an epic. These issues are also called out in the planning issue for prioritization.

We have three main boards for tracking our work (listed below). 

#### Boards

[Memory by Milestone](https://gitlab.com/groups/gitlab-org/-/boards/1143987?label_name[]=group%3A%3Amemory)
The Milestone board gives us a "big picture" view of issues planned in each milestone.

[Memory: Build](https://gitlab.com/groups/gitlab-org/-/boards/2333522?label_name[]=group%3A%3Amemory&label_name[]=memory%3A%3Aactive)
The build board gives you an overview of the current state of work for `group::memory`. These issues have already gone through validation and are on the [Product Development Build Track](https://about.gitlab.com/handbook/product-development-flow/#build-track). Issues are added to this board by adding the `memory::active` and `group::memory` labels. Issues in the `workflow::ready for development` column are ordered in priority order (top down). Team members use this column to select the next item to work on.

[Memory: Validation](https://gitlab.com/groups/gitlab-org/-/boards/2334157?scope=all&utf8=%E2%9C%93&lab[%E2%80%A6]el_name[]=group%3A%3Amemory&label_name[]=memory%3A%3Avalidation&label_name[]=group%3A%3Amemory)
The validation board is a queue for incoming issues for the Product Manager to review. A common scenario for the Memory Team validation board is when an issue is created that requires further definition before it can be prioritized. The issue typically states a big picture idea but is not yet detailed enough to take action. The Memory Team will then go through a refinement process to break down the issue into actionable steps, create exit criteria and prioritize against ongoing efforts. If an issue becomes too large, it will be promoted to an epic and small sub-issues will be created.

#### Say/Do Ratio
We use the `~Deliverable` label to track our Say/Do ratio.  At the beginning of each milestone, during a Memory Team Weekly meeting, we review the issues and determine those issues we are confident we can deliver within the milestone.  The issue will be marked with the `~Deliverable` label.  At the end of the milestone the successfully completed issues with the `~Deliverable` label are tracked in two places.  We have a dashboard in Sisense that will calculate how many were delivered within the mileston and account for issues that were moved.  Additionally, our milestone retro issue lists all of the `~Deliverable` issues shipped along with those that missed the milesone.

### Roadmap
The Memory Team [Roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Amemory&label_name[]=Roadmap) gives a view of what is currently in flight as well as projects that have been prioritized for the next 3+ months.

## Links

### Knowledge sharing and lessons learned

 * [Memory Team Approach](./approach.html)
 * [Memory Team Knowledge Sharing](./knowledge.html)
 * Blog post: [Scaling down: How we shrank image transfers by 93%](https://about.gitlab.com/blog/2020/09/21/scaling-down-how-we-prototyped-an-image-scaler-at-gitlab/)

### More about how we work
 * [Memory Team 2020 Recap](./2020.html)
 * [Memory Team YouTube playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kq_5ZWIHYfbcAYjtXYcEZA3)
 * [Memory Team subgroup](https://gitlab.com/gitlab-org/memory-team)
 * [Retrospective page](https://gitlab.com/gl-retrospectives/memory-team)
 * Slack Channel [#g_memory](https://gitlab.slack.com/messages/CGN8BUCKC)
 * [Talent skills](/job-families/engineering/backend-engineer/#memory) that help the team
 * [Product Development Timeline](/handbook/engineering/workflow/#product-development-timeline)

